<div class="form-container">
<h2>Infusionsoft Application Data Transfer</h2>
<%= form_tag({action: :transfer}, multipart: true) do %>
	<%= label_tag(:src_appname, "Source Infusionsoft Application Name: ") %>
	<br />
	<%= text_field_tag :src_appname %>
	.infusionsoft.com
	<br />
	<br />
	<%= label_tag(:src_apikey, "Source App Infusionsoft API key: ") %>
	<br />
	<%= text_field_tag :src_apikey %>
	<br />
	<br />
	<%= label_tag(:dest_appname, "Destination Infusionsoft Application Name: ") %>
	<br />
	<%= text_field_tag :dest_appname %>
	.infusionsoft.com
	<br />
	<br />
	<%= label_tag(:dest_apikey, "Destination App Infusionsoft API key: ") %>
	<br />
	<%= text_field_tag :dest_apikey %>
	<br />
	<br />
	<div>
		<%= label_tag(:contacts, "Contacts") %>
		<%= check_box 'contacts', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:customfields, "Contact Custom Fields") %>
		<%= check_box 'customfields', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:companies, "Companies") %>
		<%= check_box 'companies', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:tags, "Tags") %>
		<%= check_box 'tags', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:notes, "Notes") %>
		<%= check_box 'notes', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:tasks, "Tasks") %>
		<%= check_box 'tasks', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:appointments, "Appointments") %>
		<%= check_box 'appointments', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:products, "Products") %>
		<%= check_box 'products', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:opportunities, "Opportunities") %>
		<%= check_box 'opportunities', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:attachments, "Attachments") %>
		<%= check_box 'attachments', 'checkbox', {}, 'true', 'false' %>
		<br />
		<%= label_tag(:orders, "Orders") %>
		<%= check_box 'orders', 'checkbox', {}, 'true', 'false' %>
	</div>
	<br />
	<br />
	<%= submit_tag("Transfer Data") %>
<% end %>
</div>